<!DOCTYPE html>
<html>
  <head>
    <title>RixcyTeams</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag    'team' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/nav' %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
